<div class="container-fluid py-5 fact-background">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="fact-counter bg-white rounded p-4 shadow">
                        <i class="fa fa-smile-beam text-gold"></i>
                        <h4>Satisfied Customers</h4>
                        <h1>100+</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="fact-counter bg-white rounded p-4 shadow">
                        <i class="fa fa-trophy text-gold"></i>
                        <h4>Quality of Service</h4>
                        <h1>99%</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="fact-counter bg-white rounded p-4 shadow">
                        <i class="fa fa-certificate text-gold"></i>
                        <h4>Quality Certificates</h4>
                        <h1>33</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="fact-counter bg-white rounded p-4 shadow">
                        <i class="fa fa-candy-cane text-gold"></i>
                        <h4>Available Products</h4>
                        <h1>78</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
