body {
    font-family: 'Man', sans-serif !important;
}

.nav-filters {
    background-color: #6f1d1b;
    color: #eaf4f4;
    text-decoration: none;
    transition: transform 0.3s ease-in-out; 
}

.nav-filters:hover {
    transform: scale(1.1);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

app-card {
    flex: 0 0 calc(25% - 20px);
}

