<app-navbar></app-navbar>
<div class="container-fluid page-header py-5">
    <div class="text-center text-white display-6 cart-text">Shop</div>
</div>

<div class="shopnavbar">
    <ul class="nav nav-pills d-inline-flex text-center mb-5">
        
        <li class="nav-item">
            <a class="d-flex py-2 m-2 bg-light rounded-pill nav-filters" 
                href="/cakes">
                <span class="text-dark" style="width: 130px;">Cakes</span>
            </a>
        </li>
        
        
        <li class="nav-item">
            <a class="d-flex m-2 py-2 bg-light rounded-pill nav-filters" 
                href="/candies">
                <span class="text-dark" style="width: 130px;">Candies</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="d-flex m-2 py-2 bg-light rounded-pill nav-filters"
                href="/cookies">
                <span class="text-dark" style="width: 130px;">Cookies</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="d-flex m-2 py-2 bg-light rounded-pill nav-filters" 
                href="/bakery">
                <span class="text-dark" style="width: 130px;">Bakery</span>
            </a>
        </li>
    </ul>
</div>

<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row">
            <div class=" shop-cards">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                        <div class="col-md-3 mt-1 mb-2">
                            <app-card></app-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>