<app-navbar></app-navbar>
<div class="container py-5">
    <h2 class="text-center text-warning mb-4">Cookies</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let cookie of cookies">
        <div class="card mb-4 shadow-sm">
          <img src="{{cookie.image}}" class="card-img-top" alt="{{cookie.name}}">
          <div class="card-body">
            <h5 class="card-title">{{cookie.name}}</h5>
            <p class="card-text">{{cookie.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">{{cookie.price | currency}}</span>
            <a href="/cart"><button class="btn btn-warning">Add to Cart</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>