<div class="container-fluid banner my-5 custom-banner">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4 text-holder">
                    <h1 class="display-4 banner-title">Today's Sweet Deals!</h1>
                    <p class="lead text-secondary mb-4">Exclusive offers in Our Store</p>
                    <p class="mb-4 text-secondary">Discover unique treats and seasonal delights at special prices today!</p>
                    <a href="/shop" class="btn custom-banner-btn rounded-pill py-3 px-5">Explore Offers</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative banner-img">
                    <img src="https://images.unsplash.com/photo-1542826438-bd32f43d626f?q=80&w=1892&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid w-100 rounded" alt="Sweet Treats">
                    <div class="price-tag position-absolute bg-white rounded-circle d-flex align-items-center justify-content-center" style="width: 140px; height: 140px; top: 10%; left: 10%;">
                        <h1 class="display-3">₹450</h1>
                        <div class="d-flex flex-column ms-2">
                            <span class="fs-4 mb-0">per kg</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
