@media (max-width: 767.98px) {
  .content-below-navbar {
    padding-top: 70px; /* Adjust this value according to your navbar height */
  }
}

.navbar{
  height: 5rem;
  background-color: white;
}

.fa-cake-candles{
 color: #222222; 
 font-size: 2rem;
}

.nav-link{
  color: #222222 !important;
  margin-right: 0.7rem !important;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 2rem;
}

.nav-link:hover{
  background-color: #9e2a2b;
  color: white !important;
  border-radius: 2rem;
}

.nav-link-icons{
  color: #222222 !important;
  font-size: 23px;
}

  .buttonss{
    border: 1.5px solid black;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
  }

  .sweet-heading{
    color: #9e2a2b;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 8px 0;
}

.dropdown-menu a {
    color: #9e2a2b;
    text-decoration: none;
    display: block;
    padding: 8px 20px;
}

.dropdown-menu a:hover {
    background-color: #f4f4f4;
}



.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
  display: none;
}